#!/usr/bin/env sh

# Time adjustment
sudo ntpd -qg
# Make caps act as Escape and set the french layout
setxkbmap -option caps:escape && setxkbmap -layout fr & # Set keyboard layout
nm-applet &
dunst & # Notification 
picom & # Transparency
# Change ownership of the brightness file
sudo chown moadalami /sys/class/backlight/intel_backlight/brightness &
# Mount C drive
sudo mount /dev/sda2 $HOME/Drives/C
# Mount D drive
sudo mount /dev/sdb1 $HOME/Drives/D
