#!/usr/bin/env sh

# Make caps act as Escape and set the french layout
feh --bg-fill --no-fehbg $HOME/Pictures/Arch.jpg
setxkbmap -option caps:escape && setxkbmap -layout fr & # Set keyboard layout
nm-applet &
sudo chown mouad /sys/class/backlight/*backlight/brightness &
xrdb -merge $HOME/.Xresources
dunst & # Notification 
picom & # Transparency
$HOME/github/dwm-bar/dwm-bar &
