!=== Colors ===!
! special
*.foreground:   #FFFFFF
*.background: 	#000000
*.alpha:		0.80
.cursorColor:	#00FF00

! black
*.color0:	#48483e
*.color8:   #76715e

! red
*.color1:   #dc2566
*.color9:   #fa2772

! green
*.color2:   #8fc029
*.color10:  #a7e22e

! yellow
*.color3:   #d4c96e
*.color11:  #e7db75

! blue
*.color4:   #55bcce
*.color12:  #66d9ee

! magenta
*.color5:   #9358fe
*.color13:  #ae82ff

! cyan
*.color6:   #56b7a5
*.color14:  #66efd5

! white
*.color7:   #acada1
*.color15:  #cfd0c2

! Font
*.font:			Mono:pixelsize=16:antialias=True:autohint:true;

*.depth:		32

!=== rxvt-unicode  ===!
URxvt.background:	[90]#000000
URxvt.scrollBar:	False	
URxvt.font:			xft:monospace:pixelsize=18
URxvt.boldFont:		xft:monospace:pixelsize=20:weight=bold
URxvt.letterSpace:	0
URxvt.urgentOnBell:	False
URxvt.visualBell:	False
URxvt.mapAlert:		False
URxvt.depth:		32

!! urxvt Extensions:
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:			#2fe268
! resize-font
URxvt.resize-font.smaller:	C-j
URxvt.resize-font.bigger:	C-k
! url-select
URxvt.keysym.M-u:			perl:url-select:select_next
URxvt.url-select.launcher:	firefox
UExvt.url-select.underline:	true
! keyboard-select
URxvt.keysym.M-Escape:		perl:keyboard-select:activate
! matcher
URxvt.url-launcher:			firefox	
URxvt.matcher.button:		1

!=== Rofi ===!
rofi.font:		System San Francisco Display 15
rofi.lines:		5
